.empty-cell-message {
  padding-left: 16px;
  height: 52px;
  background-color: beige;
}

.table {
  max-width: 50%;
  border: 1px solid black;

  .mat-mdc-header-cell {
    width: 50%;
  }
}

.action {
  float: right;
  cursor: pointer;
}