.empty-cell-message {
  padding-left: 16px;
  height: 50px;
  background-color: beige;
}

.table {
  max-width: 50%;
  border: 1px solid black;

  .mat-mdc-header-cell {
    width: 50%;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.action {
  float: right;
  cursor: pointer;
}

:host {
  position: relative;
}