:host {
  display: block;
  padding: 20px;
}

.wrapper {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;

  & * {
    flex-basis: 50%;
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}