<mat-form-field class="example-form-field">
  <mat-label><ng-content></ng-content></mat-label>
  <input
    matInput
    trimFormControl
    type="text"
    [formControl]="entryFormControl"
  />
  <mat-error
    *ngIf="
      entryFormControl.hasError('minlength') ||
      entryFormControl.hasError('maxlength')
    "
    testId="length-error"
  >
    New name must be between
    {{ formService.NEW_VOTER_MIN_LENGTH }} and
    {{ formService.NEW_VOTER_MAX_LENGTH }} characters long.
  </mat-error>
  <mat-error *ngIf="entryFormControl.hasError('existingName')">
    Duplicated name
  </mat-error>
  <button
    *ngIf="entryFormControl.value"
    matSuffix
    mat-icon-button
    aria-label="Check"
    class="input-action"
    (click)="addNewCandidate.emit()"
  >
    <mat-icon>check</mat-icon>
  </button>
  <button
    matSuffix
    mat-icon-button
    aria-label="Cancel"
    class="input-action"
    testId="cancel-button"
    (click)="toggleAddMode.emit()"
  >
    <mat-icon>cancel</mat-icon>
  </button>
</mat-form-field>
